.global-theme {
          --without-fill: #ffffff00;
  --white: #ffffff;
  --no-fill: #ffffff0A;
  --white-50-percent: #ffffff80;
  --brand-midnight: #0c2854;
  --brand-dark-blue: #0f172a;
  --primary-25: #f5f8ff;
  --primary-50: #eff4ff;
  --primary-100: #d1e0ff;
  --primary-200: #b2ccff;
  --primary-300: #84adff;
  --primary-400: #528bff;
  --primary-500: #2970ff;
  --primary-600: #155eef;
  --primary-700: #004eeb;
  --primary-800: #0040c1;
  --primary-900: #00359e;
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #171721;
  --gray-900: #171721;
  --gray-soft-on-light: #f5f5fab3;
  --gray-soft-on-dark: #35384C;
  --gray-outline-on-light: #d6d6d6d9;
  --gray-ouline-on-dark: #e4e6e826;
  --gray-divider-on-dark: #3e4152;
  --gray-outline-on-soft-on-dark: #e4e6e880;
  --gray-hover-on-dark: #272b46;
  --gray-hover-on-light: #f5f5fa;
  --gray-blue-25: #fbfbff;
  --gray-blue-50: #f8f9fc;
  --gray-blue-100: #eaecf5;
  --gray-blue-200: #d5d9eb;
  --gray-blue-300: #b3b8db;
  --gray-blue-400: #8e8fa3;
  --gray-blue-500: #8083a3;
  --gray-blue-600: #6c6f8f;
  --gray-blue-700: #344054;
  --gray-blue-800: #292c43;
  --gray-blue-900: #212437;
  --gray-cool-25: #fbfbfd;
  --gray-cool-50: #f9fafb;
  --gray-cool-100: #eff1f5;
  --gray-cool-200: #dcdfea;
  --gray-cool-300: #d1d5db;
  --gray-cool-400: #7d89b0;
  --gray-iron-50: #fafafa;
  --gray-iron-200: #e4e4e7;
  --gray-neutral-300: #d2d6db;
  --success-teal-50: #f0fdf9;
  --success-teal-400: #2ed3b7;
  --success-teal-600: #0e9384;
  --orange-100: #fdead7;
  --orange-400: #f38744;
  --orange-500: #ef6820;
  --rose-100: #ffe4e8;
  --rose-300: #fea3b4;
  --cyan-25: #f5feff;
  --cyan-50: #ecfdff;
  --cyan-100: #cff9fe;
  --cyan-200: #a5f0fc;
  --cyan-300: #67e3f9;
  --cyan-400: #22ccee;
  --cyan-500: #06aed4;
  --cyan-600: #088ab2;
  --cyan-700: #0e7090;
  --cyan-800: #155b75;
  --cyan-900: #164c63;
  --blue-50: #eff8ff;
  --blue-200: #b2ddff;
  --blue-400: #53b1fd;
  --blue-600: #1570ef;
  --blue-700: #175cd3;
  --blue-dark-25: #f5f8ff;
  --blue-dark-50: #eff4ff;
  --blue-dark-100: #d1e0ff;
  --blue-dark-200: #b2ccff;
  --blue-dark-300: #84adff;
  --blue-dark-400: #528bff;
  --blue-dark-500: #2970ff;
  --blue-dark-600: #155eef;
  --blue-dark-700: #004eeb;
  --blue-dark-800: #0040c1;
  --blue-dark-900: #00359e;
  --indigo-25: #f5f8ff;
  --indigo-50: #eef4ff;
  --indigo-100: #e0eaff;
  --indigo-200: #c7d7fe;
  --indigo-300: #a4bcfd;
  --indigo-400: #8098f9;
  --indigo-500: #6172f3;
  --indigo-600: #444ce7;
  --indigo-700: #3538cd;
  --indigo-800: #2d31a6;
  --indigo-900: #2d3282;
  --moss-200: #ceeab0;
  --teal-100: #ccfbef;
  --teal-200: #99f6e0;
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;
  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;
  --orange-dark-25: #fff9f5;
  --orange-dark-50: #fff4ed;
  --orange-dark-100: #ffe6d5;
  --orange-dark-200: #ffd6ae;
  --orange-dark-300: #ff9c66;
  --orange-dark-400: #ff692e;
  --orange-dark-500: #ff4405;
  --orange-dark-600: #e62e05;
  --orange-dark-700: #bc1b06;
  --orange-dark-800: #97180c;
  --orange-dark-900: #771a0d;
  --amber-100: #fef3c7;
  --amber-600: #d97706;
  --dialer-gradient-button-primary: linear-gradient(110deg, #045cfc 0%, #4586fd 100%);
  --0px-sudden-shadow: 0px 0px 3px 0px #1018281a, 0px 0px 2px 0px #1018280f;
  --shadow-base: 0px 1px 2px 0px #1f293714;
  --hover-effect-primary: 0px 2px 7px 0px #a4bcfa;
  --divider-on-light-right: 1px 0px 0px 0px #f2f2f2;
  --divider-on-light-top: inset 0px 1px 0px 0px #f2f2f2;
  --divider-on-light-bottom: 0px 1px 0px 0px #ebebeb;
  --divider-on-dark-top: inset 0px 1px 0px 0px #3e4152;
  --divider-on-dark-right: 1px 0px 0px 0px #3e4152;
  --divider-on-dark-bottom: 0px 1px 0px 0px #3e4152;
  --divider-on-dark-bottom-inner: inset 0px -1px 0px 0px #3e4152;
  --shadows-old-on-light-4px: 0px 3px 4px 0px #999ba840;
  --shadows-old-on-light-8px: 0px 8px 12px 0px #999ba840;
  --shadows-old-on-light-12px: 0px 12px 14px 0px #999ba82e;
  --shadows-old-on-light-16px: 0px 16px 18px 0px #999ba82e;
  --shadows-old-on-light-20px: 0px 20px 24px 0px #999ba82e;
  --shadows-old-on-light-6px: 0px -6px 20px 0px #0d0a1914;
  --shadows-old-on-light-15px: 0px -15px 20px 0px #0d0a190f;
  --shadows-old-on-dark-6px: 0px -6px 20px 0px #00000026;
  --shadows-old-on-dark-15px: 0px -15px 20px 0px #0000001a;
  --shadow-on-dark-xs: 0px 3px 4px 0px #00000040;
  --shadow-on-dark-sm: 0px 6px 12px -2px #00000040;
  --shadow-on-dark-md: 0px 10px 14px 0px #0000002e;
  --shadow-on-dark-lg: 0px 15px 20px 0px #0000002e;
  --shadow-on-dark-xl: 0px 20px 24px 2px #0000002e;
  --shadow-on-dark-2xl: 0px 28px 48px 3px #00000040;
  --shadow-on-dark-3xl: 0px 38px 64px 4px #0000004d;
  --shadow-on-light-xs: 0px 1px 2px 0px #1f293714;
  --shadow-on-light-sm: 0px 1px 3px 0px #1018281a, 0px 1px 2px 0px #1018280f;
  --shadow-on-light-md: 0px 4px 8px -2px #1018281a, 0px 2px 4px -2px #1018280f;
  --shadow-on-light-lg: 0px 12px 16px -4px #1018281a, 0px 4px 6px -2px #1018280d;
  --shadow-on-light-xl: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
  --shadow-on-light-2xl: 0px 24px 48px -12px #10182840;
  --shadow-on-light-3xl: 0px 32px 64px -12px #10182833;
  --shadow-focused-xs-focused-4px-primary-100: 0px 1px 2px 0px #1018280d, 0px 0px 0px 4px #ebefff;
  --shadow-focused-xs-focused-4px-grey-100: 0px 0px 0px 4px #f2f4f7, 0px 1px 2px 0px #1018280d;
  --shadow-focused-xs-focused-4px-error-100: 0px 0px 0px 4px #fee4e2, 0px 1px 2px 0px #1018280d;
  --shadow-focused-sm-focused-4px-primary-100: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
  --shadow-focused-sm-focused-4px-grey-100: 0px 0px 0px 4px #f2f4f7, 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
  --shadow-xs-focused-4px-primary-100: 0px 4px 4px 0px #00000040;
  --bar-primary-selected: inset 2px 0px 0px 0px #3e7eff;
  --selected-item-primary: inset 2px 0px 0px 0px #3e7eff;
  --selected-item-white: inset 2px 0px 0px 0px #ffffff;
  --selected-item-orange: inset 2px 0px 0px 0px #ff692e;
  --selected-item-blood-orange: inset 2px 0px 0px 0px #f6c46a;
  --font-families-avenir-next: Avenir Next;
  --font-families-inter: Inter;
  --line-heights-0: 18px;
  --line-heights-1: 24px;
  --line-heights-2: 21px;
  --line-heights-3: 48px;
  --line-heights-4: 36px;
  --line-heights-5: 32px;
  --line-heights-6: 27px;
  --line-heights-7: 90px;
  --line-heights-8: 72px;
  --line-heights-9: 60px;
  --line-heights-10: 44px;
  --line-heights-11: 38px;
  --line-heights-12: 30px;
  --line-heights-13: 28px;
  --line-heights-14: 20px;
  --font-weights-avenir-next-0: Bold;
  --font-weights-inter-1: Bold;
  --font-weights-avenir-next-2: Ultra Light;
  --font-weights-avenir-next-3: Regular;
  --font-weights-inter-4: Regular;
  --font-weights-inter-5: Medium;
  --font-weights-inter-6: Semi Bold;
  --font-weights-inter-7: Medium Italic;
  --font-weights-inter-0: Bold;
  --font-weights-avenir-next-1: Bold;
  --font-size-0: 9px;
  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 16px;
  --font-size-5: 18px;
  --font-size-6: 20px;
  --font-size-7: 22px;
  --font-size-8: 24px;
  --font-size-9: 28px;
  --font-size-10: 30px;
  --font-size-11: 36px;
  --font-size-12: 48px;
  --font-size-13: 60px;
  --font-size-14: 72px;
  --letter-spacing-0: 0;
  --letter-spacing-1: -0.25;
  --letter-spacing-2: -2;
  --letter-spacing-3: -1.5;
  --letter-spacing-4: -0.2;
  --letter-spacing-5: -1;
  --letter-spacing-6: -0.5;
  --letter-spacing-7: -2%;
  --letter-spacing-8: 0%;
  --letter-spacing-9: -2.5;
  --paragraph-spacing-0: 0px;
  --paragraph-spacing-1: 1px;
  --paragraph-spacing-2: 12px;
  --paragraph-spacing-3: 14px;
  --paragraph-spacing-4: 16px;
  --paragraph-spacing-5: 18px;
  --paragraph-spacing-6: 20px;
  --paragraph-spacing-7: 24px;
  --paragraph-spacing-8: 28px;
  --paragraph-spacing-9: 30px;
  --paragraph-spacing-10: 32px;
  --paragraph-spacing-11: 36px;
  --paragraph-spacing-12: 38px;
  --paragraph-spacing-13: 48px;
  --paragraph-spacing-14: 60px;
  --paragraph-spacing-15: 72px;
	.display-2xl-regular{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 90px;
      font-size: 72px;
      letter-spacing: -2%;
      line-height: 72px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-2xl-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 90px;
      font-size: 72px;
      letter-spacing: -2%;
      line-height: 72px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-2xl-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 90px;
      font-size: 72px;
      letter-spacing: -2%;
      line-height: 72px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-2xl-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 90px;
      font-size: 72px;
      letter-spacing: -2%;
      line-height: 72px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xl-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 72px;
      font-size: 60px;
      letter-spacing: -2%;
      line-height: 60px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xl-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 72px;
      font-size: 60px;
      letter-spacing: -2%;
      line-height: 60px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xl-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 72px;
      font-size: 60px;
      letter-spacing: -2%;
      line-height: 60px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xl-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 72px;
      font-size: 60px;
      letter-spacing: -2%;
      line-height: 60px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-lg-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 60px;
      font-size: 48px;
      letter-spacing: -2%;
      line-height: 48px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-lg-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 60px;
      font-size: 48px;
      letter-spacing: -2%;
      line-height: 48px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-lg-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 60px;
      font-size: 48px;
      letter-spacing: -2%;
      line-height: 48px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-lg-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 60px;
      font-size: 48px;
      letter-spacing: -2%;
      line-height: 48px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-md-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 44px;
      font-size: 36px;
      letter-spacing: -2%;
      line-height: 36px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-md-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 44px;
      font-size: 36px;
      letter-spacing: -2%;
      line-height: 36px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-md-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 44px;
      font-size: 36px;
      letter-spacing: -2%;
      line-height: 36px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-md-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 44px;
      font-size: 36px;
      letter-spacing: -2%;
      line-height: 36px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-sm-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 38px;
      font-size: 30px;
      letter-spacing: 0%;
      line-height: 30px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-sm-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 38px;
      font-size: 30px;
      letter-spacing: 0%;
      line-height: 30px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-sm-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 38px;
      font-size: 30px;
      letter-spacing: 0%;
      line-height: 30px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-sm-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 38px;
      font-size: 30px;
      letter-spacing: 0%;
      line-height: 30px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-sm-medium-italic{ 
		font-family: Inter;
      font-weight: undefined;
      line-height: 44px;
      font-size: 30px;
      letter-spacing: 0%;
      line-height: 38px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-sm-bold-koncert{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 38px;
      font-size: 30px;
      letter-spacing: -2.5;
      line-height: 30px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xs-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 32px;
      font-size: 24px;
      letter-spacing: 0%;
      line-height: 24px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xs-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 32px;
      font-size: 24px;
      letter-spacing: 0%;
      line-height: 24px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xs-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 32px;
      font-size: 24px;
      letter-spacing: 0%;
      line-height: 24px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xs-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 32px;
      font-size: 24px;
      letter-spacing: 0%;
      line-height: 24px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.display-xs-medium-italic{ 
		font-family: Inter;
      font-weight: undefined;
      line-height: 36px;
      font-size: 24px;
      letter-spacing: 0%;
      line-height: 32px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xl-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 0%;
      line-height: 20px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xl-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 0%;
      line-height: 20px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xl-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 0%;
      line-height: 20px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xl-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 0%;
      line-height: 20px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xl-medium-italic{ 
		font-family: Inter;
      font-weight: undefined;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 0%;
      line-height: 20px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xl-normal-underlined{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 0%;
      line-height: 0px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: underline; 
	}
	.text-lg-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 18px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-lg-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 18px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-lg-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 18px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-lg-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 18px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-lg-medium-italic{ 
		font-family: Inter;
      font-weight: undefined;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 18px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-lg-medium-underlined{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 28px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: underline; 
	}
	.text-md-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-md-normal-uppercase{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: uppercase;
      text-decoration: none; 
	}
	.text-md-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-md-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-md-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-md-medium-italic{ 
		font-family: Inter;
      font-weight: undefined;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-md-normal-underlined{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 24px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: underline; 
	}
	.text-md-medium-underlined{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 24px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: underline; 
	}
	.text-sm-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 14px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-sm-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 14px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-sm-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 14px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-sm-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 14px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-sm-normal-underlined{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 14px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: underline; 
	}
	.text-sm-semi-bold-mini-chip{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 18px;
      font-size: 16px;
      letter-spacing: 0%;
      line-height: 16px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xs-normal{ 
		font-family: Inter;
      font-weight: 400;
      line-height: 18px;
      font-size: 12px;
      letter-spacing: 0%;
      line-height: 12px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xs-medium{ 
		font-family: Inter;
      font-weight: 500;
      line-height: 18px;
      font-size: 12px;
      letter-spacing: 0%;
      line-height: 12px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xs-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 18px;
      font-size: 12px;
      letter-spacing: 0%;
      line-height: 12px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xs-bold{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 18px;
      font-size: 12px;
      letter-spacing: 0%;
      line-height: 12px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xxs-semibold{ 
		font-family: Inter;
      font-weight: 600;
      line-height: 18px;
      font-size: 10px;
      letter-spacing: 0;
      line-height: 1px;
      text-indent: 0px;
      text-transform: uppercase;
      text-decoration: none; 
	}
  --text-case-uppercase: uppercase;
  --text-case-none: none;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --brand-midnight: #0c2854;
  --brand-dark-cobalt-blue: #0c1b37;
  --brand-dark-blue: #0f172a;
  --brand-sunset: #f15b28;
  --brand-blood-orange-gradient: linear-gradient(180deg, #f15b28 0%, #fbab44 100%);
  --brand-blood-orange-light: #f6c46a;
  --brand-blood-orange-dark: #f5884d;
  --brand-turquoise-light: #33e8c5;
  --brand-turquoise-dark: #21bffe;
  --brand-pursian-light: #96a1ff;
  --brand-persian-blue-dark: #4e4efb;
  --brand-persian-blue: #5b45e0;
  --brand-baltic-light: #67c4ff;
  --brand-baltic-dark: #1f90ff;
  --brand-dialers-item-accent: linear-gradient(90deg, #f5884d 0%, #f6c46a 100%);
  --gradient-blue-left-to-right: linear-gradient(110deg, #045cfc 0%, #4586fd 100%);
  --gradient-orange-left-to-right: linear-gradient(110deg, #fc4004 0%, #fd9245 100%);
  --gradient-orange-left-to-right-hover: linear-gradient(110deg, #fc4004 0%, #fd9245 100%);
	.text-micro{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 18px;
      font-size: 9px;
      letter-spacing: 0;
      line-height: 1px;
      text-indent: 0px;
      text-transform: none;
      text-decoration: none; 
	}
	.text-xsm-uppercase-buttons{ 
		font-family: Inter;
      font-weight: 700;
      line-height: 18px;
      font-size: 10px;
      letter-spacing: 0;
      line-height: 1px;
      text-indent: 0px;
      text-transform: uppercase;
      text-decoration: none; 
	}
  --paragraph-indent-0: 0px;
      }