.input-theme {
          --colors-red-300: #FCA5A5;
  --colors-red-500: #EF4444;
  --colors-red-700: #B91C1C;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;
      }