.light-theme {
          --theme-bg-surface: #f1f1f1;
  --theme-bg-subtle: #f9fafb;
  --theme-bg-subtle-2x: #fcfcfd;
  --theme-bg-muted: #f8f9fc;
  --theme-bg-muted-hover: #f2f4f7;
  --theme-bg-disabled: #fcfcfd;
  --theme-bg-canvas: #f2f4f7;
  --theme-bg-field: #f1f1f1;
  --theme-accent-default: #528bff;
  --theme-accent-subtle: #eff4ff;
  --theme-accent-subtle-2x: #d1e0ff;
  --theme-accent-muted: #84adff;
  --theme-accent-disabled: #d1e0ff;
  --theme-accent-emphasis: #155eef;
  --theme-accent-hover: #2970ff;
  --theme-accent-on-accent: #f1f1f1;
  --theme-fg-default: #f1f1f1;
  --theme-fg-placeholder: #d0d5dd;
  --theme-fg-muted: #6c6f8f;
  --theme-fg-subtle: #6c6f8f;
  --theme-fg-subtle-2x: #667085;
  --theme-fg-subtle-3x: #8083a3;
  --theme-fg-on-disabled: #475467;
  --theme-fg-disabled: #eaecf0;
  --theme-fg-strong: #344054;
  --theme-fg-strongest: #171721;
  --theme-warning-default: #dc6803;
  --theme-warning-subtle: #fef0c7;
  --theme-warning-subtle-2x: #fffaeb;
  --theme-warning-muted: #fec84b;
  --theme-warning-emphasis: #b54708;
  --theme-warning-emphasis-2x: #93370d;
  --theme-warning-on-warning: #b54708;
  --theme-info-default: #8098f9;
  --theme-info-subtle: #e0eaff;
  --theme-info-subtle-2x: #eef4ff;
  --theme-info-subtle-3x: #F5F3FF;
  --theme-info-muted: #a4bcfd;
  --theme-info-emphasis: #4e4efb;
  --theme-info-emphasis-2x: #2d31a6;
  --theme-info-emphasis-hover: #5b45e0;
  --theme-info-on-info: #f1f1f1;
  --theme-error-default: #d92d20;
  --theme-error-subtle: #fee4e2;
  --theme-error-subtle-2x: #fef3f2;
  --theme-error-muted: #f97066;
  --theme-error-emphasis: #b42318;
  --theme-error-emphasis-2x: #912018;
  --theme-error-hover: #b42318;
  --theme-error-disabled: #fecdca;
  --theme-error-on-error: #f1f1f1;
  --theme-success-default: #12b76a;
  --theme-success-subtle: #ecfdf3;
  --theme-success-subtle-2x: #d1fadf;
  --theme-success-muted: #f6fef9;
  --theme-success-emphasis: #32d583;
  --theme-success-on-success: #f1f1f1;
  --theme-success-on-success-mono: #027a48;
  --theme-input-background: #f1f1f1;
  --theme-input-text: #171721;
  --theme-input-placeholder: #667085;
  --theme-input-border-default: #d0d5dd;
  --theme-input-border-strong: #98a2b3;
  --theme-input-border-strong-2x: #475467;
  --theme-input-border-subtle-1x: #f2f4f7;
  --theme-input-border-subtle-2x: #eaecf0;
  --theme-input-border-alert-1: #22ccee;
  --theme-input-border-disabled: #f2f4f7;
  --theme-input-border-focused: #ebefff;
  --theme-input-fg-disabled: #d0d5dd;
  --theme-border-default: #f2f4f7;
  --shadow-xs: 0px 1px 2px 0px #1f293714;
  --shadow-sm: 0px 1px 3px 0px #1018281a, 0px 1px 2px 0px #1018280f;
  --shadow-md: 0px 4px 8px -2px #1018281a, 0px 2px 4px -2px #1018280f;
  --shadow-lg: 0px 12px 16px -4px #1018281a, 0px 4px 6px -2px #1018280d;
  --shadow-xl: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
  --shadow-2xl: 0px 24px 48px -12px #10182840;
  --shadow-3xl: 0px 32px 64px -12px #10182833;
  --shadow-focused-default: 0px 1px 2px 0px #1018280d, 0px 0px 0px 4px #ebefff;
  --shadow-focused-error: 0px 1px 2px 0px #1018280d, 0px 0px 0px 4px #fee4e2;
  --shadow-focused-success: 0px 1px 2px 0px #c7f2cd, 0px 0px 0px 4px #c7f2cd;
  --shadow-focused-gray: 0px 1px 2px 0px #1018280d, 0px 0px 0px 4px #f2f4f7;
  --bar-primary-selected: inset 2px 0px 0px 0px #3e7eff;
  --selected-item-primary: inset 2px 0px 0px 0px #3e7eff;
  --selected-item-white: inset 2px 0px 0px 0px #ffffff;
  --selected-item-orange: inset 2px 0px 0px 0px #ff692e;
  --selected-item-blood-orange: inset 2px 0px 0px 0px #f6c46a;
      }